# IDE settings
.idea/

# Ignoring Typescript source files
src/
tsconfig.json

# Github Stuff
.gitignore
.github/ISSUE_TEMPLATE

# Test files for development
src/td-list.js
src/devExample.ts
dist/devExample.js
dist/devExample.d.ts
dist/example.js
tests/
tests/linear.test.js